body {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	background-color: #f9f9f9;
}

h1 {
	font-size: 4em;
	text-decoration: none;
	color: #111;
}

h6 {
	font-size: 1.5em;
	text-decoration: none;
	color: #111;
}

a {
	font-size: 1em;
	color: #CE0A31;
}

p {
	font-size: 1em;
	text-decoration: none;
	color: #111;
}
