body {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-size: 4em;
	text-align: center;
	text-decoration: none;
	color: #111;
}

h6 {
	font-size: 1.5em;
	text-align: center;
	text-decoration: none;
	color: #111;
}

a {
	font-size: 1em;
	text-align: center;
}

p {
	font-size: 1em;
	text-align: center;
	text-decoration: none;
	color: #111;
}
